arrow
asgiref
attrs
certifi
cffi
charset-normalizer
comtypes
Django
djangorestframework
et_xmlfile
h11
idna
jdcal
mysql-connector-python
numpy
openpyexcel
openpyxl
outcome
packaging
pandas
psutil
pycaw
pycparser
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
python-dateutil
python-time
PythonTurtle
requests
selenium
six
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
types-python-dateutil
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
